@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.6rem;
  line-height: 1;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  background-color: #868e96;
  max-width: 50rem;
  height: 75vh;
  margin: 10rem auto;
  border-radius: 1rem;
  padding: 5rem 3rem;

  box-shadow: -0.5rem 0.7rem 2rem rgba(0, 0, 0, 0.2);
}

.screen input {
  width: 100%;
  padding: 4rem 2rem;
  border-radius: 1rem;
  font-family: inherit;
  font-size: 2rem;
  border: none;
  box-shadow: none;
}

input:focus {
  outline: none;
}

.keypad {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.keypad div {
  background-color: #fff;
  height: 10rem;
  flex-basis: 21.55%;
  font-size: 2.5rem;
  border-radius: 1rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.keypad .operator {
  background-color: #343a40;
  color: #fff;
}

.keypad .clear {
  background-color: #e03131;
  color: #fff;
}
